BUTTON.saveButton{
    background-color: #717C7D;
    min-width: 150px;
    display: block;
    clear: both;
    margin: auto;
}
BUTTON.minimal{
    margin-bottom: 15px;
}
#survey{
    float: left;
    width: 50%;
}
#emailPreview{
    float: right;
    width: 50%;
    position: fixed;
    top: 0; 
    right: 0;
    overflow: scroll;
    height: 100vh;
}
#canvas{overflow: hidden;} /* Prevent content from overlapping onto the preview */
.questionDescription{
    color: #cccccc;
    font-size: .8em;
    font-style: italic;
}
.alleg-sectionHeader{
    background-color: #cccccc;
    width: 110% !important;
    margin-left: -20%;
    padding-left: 20%;
    height: 45px;
}
.alleg-sectionHeader span div{
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}


.help-text-link{display: none;}
/* Auto-hide test mode banner */
    /* Fix cutting off of the checkboxes */
    #TestModeBanner .validations li{        
        height: 21px;
    }
    #TestModeBanner{
        position: fixed;
        height: 50px;
        /* This can be set to bottom or top to determine placement of banner, but it must match hover */
        top:-45px;
        transition: 1000ms;
        -webkit-transition: 1000ms;
        -moz-transition: 1000ms;
        -ms-transition: 1000ms;
        -o-transition: 1000ms;
        z-index: 99;
    }
    #TestModeBanner:hover{
        /* This can be set to bottom or top to determine placement of banner, but it must match non-hover */
        top:0;
    }
/* END auto-hide test mode banner */
/* Toggle PreviewOnly fields */
    .alleg-previewOnly{
        display:none;
        background-color: rgba(255,0,0,.1);
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        padding: 15px;
        transition-duration: 1000ms;
}
    .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 34px;
    }
    
    .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        margin-top: 10px;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    input:checked + .slider {
        background-color: #2196F3;
    }
    
    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    
    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }
/* END Toggle PreviewOnly fields */