.alleg-uploader{
    width: 100%;
    padding: 0;
}
.alleg-uploader input{
    width: 100%;
    padding: 15px;
    border: dashed #cccccc 2px;
    /* visibility: hidden;
    display: none; */
}
.alleg-uploader label{
    width: 100%;
    padding: 15px;
    display: none;
}
.alleg-imagePreview{display:none;}
.imagePreview {
    max-width: 100%;
}