@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

#Q001518C9_first, #Q001518C9_last{
   text-align:center;
}

#Q0000504D_text > span > div > strong{
font: 600 1.1rem / 130% montserrat, Arial, Helvetica, sans-serif !important;
}
#headerLogoImage{
    max-width: 30%;
    background-size: 100% auto;
    margin:0;
    position: relative;
}
#alleg-footer{
    padding: 10px;
    vertical-align: middle;
    table-layout: fixed;
    display:table;
    position: relative;

}
#footerLogoCell{
    text-align: left;
    width: 50%;
}
#privacyLinkCell{
    text-align: right;
}

/*Fixes opt out page spacing*/
.optoutpage #canvas {
    margin-top: 330px;
}

.optoutpage .answerText {
    margin-left: 26px !important;
    margin-top: -15px !important;
}

#Q7_1_question > table > tbody > tr > td > table > tbody > tr:nth-child(3)
{
   display:none;
}

/* NA column on certain tables should have a left border */
.alleg-naBorderLeft tr td:nth-child(7){
    border-left: 1px solid #000;
}
.alleg-col6BorderLeft tr td:nth-child(6){
    border-left: 1px solid #000;
}